### shamefully-hoist默认为false，依赖的依赖会安装到.npmrc中，
### 当值为true时，依赖的依赖安装时会提升作用域，也就是package.json中的没有的依赖，也会安装到node_modules中
### strict-peer-dependencies: 默认false  如果启用了此选项，那么在依赖树中存在缺失或无效的 peer 依赖关系时，命令将执行失败。终端报错：xx  deprecated subdependencies found
### engine-strict :默认false 如果启用该选项，pnpm 将不安装任何声明与当前 Node 版本不兼容的包
shamefully-hoist=true
strict-peer-dependencies=false
registry=https://registry.npmjs.org/
engine-strict=true
git-check=true
prefer-workspace-packages=true