### shamefully-hoist默认为false，依赖的依赖会安装到.npmrc中，
### 当值为true时，依赖的依赖安装时会提升作用域，也就是package.json中的没有的依赖，也会安装到node_modules中
shamefully-hoist=true
strict-peer-dependencies=false
registry=https://registry.npmjs.org/
engine-strict=true
