@use 'common/var' as *;
@use 'mixins/index' as *;

.#{bem('pro-title')}{
    border-bottom: 1px solid #ccc;
    font-weight: 500;
    display: flex;
    align-items: center;
    .icon{
        margin-right: 10px;
    }
   
}
