@use 'common/var' as *;
@use 'mixins/index' as *;
.#{bem('pro-title')}{
    border-bottom: 1px solid #ccc;
    font-weight: 500;
    display: flex;
    align-items: center;
    .icon{
        margin-right: 10px;
    }
   
}
// .#{bem('pro-title')}::before{
//     content: '';
//     position: absolute;
//     width: 3px;
//     height: 100%;
//     background: #517cfc;
//     left: 0;
// }

.#{bem('pro-title','','unborder')}{
    border: none;
}