div[class*="language-"] {
  --vp-code-block-bg: var(--vp-c-bg-alt);
  --vp-c-bg-alt: #161618;
}
div[class*="language-"] > button.copy {
  --vp-code-copy-code-border-color: var(--vp-c-divider);
  --vp-code-copy-code-bg: var(--vp-c-bg-soft);
  --vp-c-divider: #2e2e32;
  --vp-c-bg-soft: #202127;
}
div[class*="language-"] > button.copy:hover {
  --vp-code-copy-code-hover-border-color: var(--vp-c-divider);
  --vp-code-copy-code-hover-bg: var(--vp-c-bg);
  --vp-c-bg: #1b1b1f;
  --vp-c-divider: #2e2e32;
}
